<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>广告平台</title>
    <!--<script type="text/javascript" src="https://admore-cas.oss-cn-hangzhou.aliyuncs.com/assets/js/jquery/1.11.3/jquery.min.js"></script>-->
    <script th:inline="javascript">
        function handleUrl(cas_url) {
            /*var cas_index=cas_url.indexOf('?service=');
            if(cas_index>-1){
                return cas_url.slice(cas_index+9);
            }else {
                return 'http://work.duodian.com';
            }*/
            return 'http://localhost:8443/cas/login';
        }
        var login_url=handleUrl(window.location.href);
        function goLogin() {
            window.location.href=login_url;
        }
        goLogin();
    </script>
</head>

<body>

</body>
</html>
