<?xml version='1.0' encoding='utf-8'?>

<Server port="28005" shutdown="SHUTDOWN">

  <!--APR library loader. Documentation at /docs/apr.html -->
  <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" />
  <!--Initialize Jasper prior to webapps are loaded. Documentation at /docs/jasper-howto.html -->
  <Listener className="org.apache.catalina.core.JasperListener" />
  <!-- Prevent memory leaks due to use of particular java/javax APIs-->
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
  <!-- JMX Support for the Tomcat server. Documentation at /docs/non-existent.html -->
  <Listener className="org.apache.catalina.mbeans.ServerLifecycleListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />

  <!-- Global JNDI resources
       Documentation at /docs/jndi-resources-howto.html
  -->
  <GlobalNamingResources>
    <!-- Editable user database that can also be used by
         UserDatabaseRealm to authenticate users
    -->
    <Resource name="UserDatabase" auth="Container"
              type="org.apache.catalina.UserDatabase"
              description="User database that can be updated and saved"
              factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
              pathname="conf/tomcat-users.xml" />
  </GlobalNamingResources>

  <!-- A "Service" is a collection of one or more "Connectors" that share
       a single "Container" Note:  A "Service" is not itself a "Container", 
       so you may not define subcomponents such as "Valves" at this level.
       Documentation at /docs/config/service.html
   -->
  <Service name="Catalina">

  <Connector port="28080" protocol="HTTP/1.1" 
            connectionTimeout="20000" 
            redirectPort="8443" />
<!--  <Connector port="8088" protocol="HTTP/1.1" 
           connectionTimeout="20000" 
           redirectPort="8443" /> -->
     <Connector port="28009" protocol="AJP/1.3" redirectPort="8443" />
     <Engine name="Catalina" defaultHost="localhost" jvmRoute="jvm1">

        <Cluster className="org.apache.catalina.ha.tcp.SimpleTcpCluster"/>  
      
       <Realm className="org.apache.catalina.realm.LockOutRealm">  
         <Realm className="org.apache.catalina.realm.UserDatabaseRealm"  resourceName="UserDatabase"/>  
      </Realm>  
        <Host name="localhost"  appBase="webapps" unpackWARs="true" autoDeploy="true"
             xmlValidation="false" xmlNamespaceAware="false">
        </Host>
     </Engine>
 </Service>  







</Server>
