<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">

<head>
    <title></title>
</head>

<body id="cas">
<div layout:fragment="content">
    <div class="sign" style="margin-top: 150px;">
        <div class="rightTitle" th:utext="#{screen.success.header}"></div>
        <div class="sign col-xs-12 adFlexForm">
            <div class="auth-form">
                <div class="form-group">
                    <label class="signLabel">您已经成功登录广告平台管理系统。</label>
                    <!--<label class="signLabel" th:utext="#{screen.success.success(${principal.id})}"></label>-->
                </div>
                <div class="form-group">
                    <label class="signLabel" th:utext="#{screen.success.security}"></label>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
