.gradle
/build/
node_modules
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.xlsx
*.xls
*.DS_Store
### NetBeans ###
nbproject/private/
build/
classes/
nbbuild/
dist/
nbdist/
.nb-gradle/
node_modules/editorconfig/tests/
node_modules/webpack 2/node_modules/

src/main/webapp/components/
src/main/webapp/img/
src/main/webapp/less/
src/.DS_Store
src/main/.DS_Store
#src/main/java/cn/edu/dlut/career/service/
src/main/resources/.DS_Store
src/main/resources/mails/
src/main/webapp/page/
