# java  #
*.class

# Package Files #
*.jar
*.war

### IntelliJ IDEA ###
.idea
.idea/
*.iws
*.iml
*.ipr



# Ç°¶Ë #
.gradle
/build/
node_modules
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.factorypath
.settings
.springBeans


######other####
.project
!/.project
.classpath
.DS_Store
.settings/
target/
bin/
classess/
test/
!.mvn/wrapper/maven-wrapper.jar
*.log
*.log.gz
out/
overlays/
MANIFEST.MF
HELP.md


