<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.healerjean.proj.template.mapper.BPrizeStockDetailMapper">

    <resultMap id="BaseResultMap" type="com.healerjean.proj.template.po.BPrizeStockDetail">
        <result column="id" property="id"/>
        <result column="created_date" property="createdDate"/>
        <result column="modified_date" property="modifiedDate"/>
        <result column="benefits_id" property="benefitsId"/>
        <result column="change_type" property="changeType"/>
        <result column="change_num" property="changeNum"/>
        <result column="change_after_num" property="changeAfterNum"/>
        <result column="operator" property="operator"/>
    </resultMap>


</mapper>

