<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hlj.dao.mybatis.demo.DemoEntityMapper">


    <select id="findAll" resultType="com.hlj.entity.db.demo.DemoEntity">
        select * from demo_entity d
    </select>

    <select id="findById" resultType="com.hlj.entity.db.demo.DemoEntity">
        select * from demo_entity d where d.id = #{id}
    </select>

</mapper>