<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hlj.dao.mybatis.demo.DemoEntityMapper">


    <select id="findAll" resultType="com.hlj.entity.db.demo.DemoEntity">
        select * from demo_entity d
    </select>

    <select id="findById" resultType="com.hlj.entity.db.demo.DemoEntity">
        select * from demo_entity d where d.id = #{id}
    </select>


    <!--out 中必须制定jdbc类型，因为存储过程会对它进行赋值操作-->
    <select id="procedureGetOut" parameterType="java.util.Map" statementType="CALLABLE" >
      call pro (
              #{userId,   mode=IN},
              #{userCount,mode=OUT,jdbcType=INTEGER}
      )
  </select>



    <select id="procedureGetOneList" parameterType="java.util.Map" statementType="CALLABLE" resultType="com.hlj.entity.db.demo.DemoEntity" >
      call pro_one_list (
              #{userName, mode=IN},
              #{userCount,mode=OUT,jdbcType=INTEGER}
      )
  </select>




    <resultMap id="twoList" type="com.hlj.entity.db.demo.DemoEntity">
        <result column="id" property="id"></result>
        <result column="name" property="name"></result>
    </resultMap>

    <resultMap id="oneList" type="com.hlj.entity.db.demo.DemoEntity">
        <result column="id" property="id"></result>
        <result column="name" property="name"></result>
    </resultMap>

    <!--resultMap中会提示报错，但是实际上不会-->
    <select id="procedureGetManyList" parameterType="java.util.Map" statementType="CALLABLE" resultMap="oneList,twoList" >
      call pro_many_list (
              #{oneName, mode=IN},
              #{twoName, mode=IN},
              #{userCount,mode=OUT,jdbcType=INTEGER}
      )
  </select>




</mapper>