<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FlowWorkDefinitionMapper">
	<resultMap id="BaseResultMap" type="FlowWorkDefinition">
		<id column="ID" jdbcType="BIGINT" property="id" />
		<result column="instants_no" jdbcType="VARCHAR" property="instantsNo" />
		<result column="flow_code" jdbcType="VARCHAR" property="flowCode" />
		<result column="flow_name" jdbcType="VARCHAR" property="flowName" />
		<result column="flow_definition" jdbcType="VARCHAR" property="flowDefinition" />
		<result column="status" jdbcType="VARCHAR" property="status" />
		<result column="create_user" jdbcType="BIGINT" property="createUser" />
		<result column="create_name" jdbcType="VARCHAR" property="createName" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<trim prefix="(" prefixOverrides="and" suffix=")">
				<if test="instantsNo != null">
					and instants_no = #{instantsNo,jdbcType=VARCHAR}
				</if>
				<if test="flowCode != null">
					and flow_code = #{flowCode,jdbcType=VARCHAR}
				</if>
				<if test="flowName != null">
					and flow_name = #{flowName,jdbcType=VARCHAR}
				</if>
				<if test="flowDefinition != null">
					and flow_definition = #{flowDefinition,jdbcType=VARCHAR}
				</if>
				<if test="status != null">
					and status = #{status,jdbcType=VARCHAR}
				</if>
				<if test="createUser != null and createUser != ''">
					and create_user = #{createUser,jdbcType=BIGINT}
				</if>
				<if test="createName != null">
					and create_name = #{createName,jdbcType=VARCHAR}
				</if>
			</trim>
		</where>
	</sql>
	<sql id="Example_Set_Clause">
		<set>
			<trim suffixOverrides=",">
				<if test="instantsNo != null">
					instants_no = #{instantsNo,jdbcType=VARCHAR},
				</if>
				<if test="flowCode != null">
					flow_code = #{flowCode,jdbcType=VARCHAR},
				</if>
				<if test="flowName != null">
					flow_name = #{flowName,jdbcType=VARCHAR},
				</if>
				<if test="flowDefinition != null">
					flow_definition = #{flowDefinition,jdbcType=VARCHAR},
				</if>
				<if test="status != null">
					status = #{status,jdbcType=VARCHAR},
				</if>
				<if test="createUser != null">
					create_user = #{createUser,jdbcType=BIGINT},
				</if>
				<if test="createName != null">
					create_name = #{createName,jdbcType=VARCHAR},
				</if>
				UPDATE_TIME = NOW(),
			</trim>
		</set>
	</sql>
	<sql id="Base_Column_List">
		id,
		instants_no,
		flow_code,
		flow_name,
		flow_definition,
		status,
		create_user,
		create_name,
		create_time,
		update_time
	</sql>
	<sql id="Base_Set_Clause">
		<set>
			<trim suffixOverrides=",">
				instants_no = #{instantsNo,jdbcType=VARCHAR},
				flow_code = #{flowCode,jdbcType=VARCHAR},
				flow_name = #{flowName,jdbcType=VARCHAR},
				flow_definition = #{flowDefinition,jdbcType=VARCHAR},
				status = #{status,jdbcType=VARCHAR},
				create_user = #{createUser,jdbcType=BIGINT},
				create_name = #{createName,jdbcType=VARCHAR},
			</trim>
		</set>
	</sql>
	<sql id="Selective_Column_List">
		ID,
		<if test="instantsNo != null">
			instants_no,
		</if>
		<if test="flowCode != null">
			flow_code,
		</if>
		<if test="flowName != null">
			flow_name,
		</if>
		<if test="flowDefinition != null">
			flow_definition,
		</if>
		<if test="status != null">
			status,
		</if>
		<if test="createUser != null">
			create_user,
		</if>
		<if test="createName != null">
			create_name,
		</if>
		CREATE_TIME,
	</sql>
	<sql id="Base_Value_List">
		#{id,jdbcType=BIGINT},
		#{instantsNo,jdbcType=VARCHAR},
		#{flowCode,jdbcType=VARCHAR},
		#{flowName,jdbcType=VARCHAR},
		#{flowDefinition,jdbcType=VARCHAR},
		#{status,jdbcType=VARCHAR},
		#{createUser,jdbcType=BIGINT},
		#{createName,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP},
		#{updateTime,jdbcType=TIMESTAMP},
	</sql>
	<sql id="Selective_Value_List">
		#{id},
		<if test="instantsNo != null">
			#{instantsNo,jdbcType=VARCHAR},
		</if>
		<if test="flowCode != null">
			#{flowCode,jdbcType=VARCHAR},
		</if>
		<if test="flowName != null">
			#{flowName,jdbcType=VARCHAR},
		</if>
		<if test="flowDefinition != null">
			#{flowDefinition,jdbcType=VARCHAR},
		</if>
		<if test="status != null">
			#{status,jdbcType=VARCHAR},
		</if>
		<if test="createUser != null">
			#{createUser,jdbcType=BIGINT},
		</if>
		<if test="createName != null">
			#{createName,jdbcType=VARCHAR},
		</if>
		NOW(),
	</sql>

	<select id="selectByExample" parameterType="FlowWorkDefinitionQuery" resultMap="BaseResultMap">
		select
		<trim suffixOverrides=",">
			<include refid="Base_Column_List" />
		</trim>
		from flow_work_definition
		<include refid="Example_Where_Clause" />
		<!-- order by CREATE_DATE -->
	</select>
	<select id="selectByPrimaryKey" parameterType="Long" resultMap="BaseResultMap">
		select
		<trim suffixOverrides=",">
			<include refid="Base_Column_List" />
		</trim>
		from flow_work_definition
		where ID = #{id,jdbcType=SMALLINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="Long">
		delete from flow_work_definition
		where ID = #{id,jdbcType=SMALLINT}
	</delete>
	<delete id="deleteByExample" parameterType="FlowWorkDefinitionQuery">
		delete from flow_work_definition
		<include refid="Example_Where_Clause" />
	</delete>
	<insert id="insert" parameterType="FlowWorkDefinition">
		insert into flow_work_definition
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<include refid="Base_Column_List" />
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<include refid="Base_Value_List" />
		</trim>
	</insert>
	<insert id="insertSelective" parameterType="FlowWorkDefinition" useGeneratedKeys="true" keyProperty="id">
		insert into flow_work_definition
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<include refid="Selective_Column_List" />
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<include refid="Selective_Value_List" />
		</trim>
	</insert>
	<select id="countByExample" parameterType="FlowWorkDefinitionQuery" resultType="java.lang.Integer">
		select count(*) from flow_work_definition
		<include refid="Example_Where_Clause" />
	</select>
	<update id="updateByPrimaryKeySelective" parameterType="FlowWorkDefinition">
		update flow_work_definition
		<include refid="Example_Set_Clause" />
		where ID = #{id,jdbcType=SMALLINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="FlowWorkDefinition">
		update flow_work_definition
		<include refid="Base_Set_Clause" />
		where ID = #{id,jdbcType=SMALLINT}
	</update>

	<select id="selectPageByExample" parameterType="FlowWorkDefinitionQuery" resultMap="BaseResultMap">
		select
		<trim suffixOverrides=",">
			<include refid="Base_Column_List" />
		</trim>
		from flow_work_definition
		<include refid="Example_Where_Clause" />
        <![CDATA[ limit #{startRow},#{endRow} ]]>
  		<!-- order by CREATE_DATE -->
	</select>
</mapper>