<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FlowAuditUserDetailMapper">
	<resultMap id="BaseResultMap" type="FlowAuditUserDetail">
		<id column="ID" jdbcType="BIGINT" property="id" />
		<result column="ref_audit_task_id" jdbcType="BIGINT" property="refAuditTaskId" />
		<result column="task_type" jdbcType="VARCHAR" property="taskType" />
		<result column="task_name" jdbcType="VARCHAR" property="taskName" />
		<result column="step" jdbcType="INTEGER" property="step" />
		<result column="audit_user_type" jdbcType="VARCHAR" property="auditUserType" />
		<result column="audit_object_type" jdbcType="VARCHAR" property="auditObjectType" />
		<result column="audit_object_id" jdbcType="BIGINT" property="auditObjectId" />
		<result column="status" jdbcType="VARCHAR" property="status" />
		<result column="create_user" jdbcType="BIGINT" property="createUser" />
		<result column="create_name" jdbcType="VARCHAR" property="createName" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_user" jdbcType="BIGINT" property="updateUser" />
		<result column="update_name" jdbcType="VARCHAR" property="updateName" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<trim prefix="(" prefixOverrides="and" suffix=")">
				<if test="refAuditTaskId != null and refAuditTaskId != ''">
					and ref_audit_task_id = #{refAuditTaskId,jdbcType=BIGINT}
				</if>
				<if test="taskType != null">
					and task_type = #{taskType,jdbcType=VARCHAR}
				</if>
				<if test="taskName != null">
					and task_name = #{taskName,jdbcType=VARCHAR}
				</if>
				<if test="step != null and step != ''">
					and step = #{step,jdbcType=INTEGER}
				</if>
				<if test="auditUserType != null">
					and audit_user_type = #{auditUserType,jdbcType=VARCHAR}
				</if>
				<if test="auditObjectType != null">
					and audit_object_type = #{auditObjectType,jdbcType=VARCHAR}
				</if>
				<if test="auditObjectId != null and auditObjectId != ''">
					and audit_object_id = #{auditObjectId,jdbcType=BIGINT}
				</if>
				<if test="status != null">
					and status = #{status,jdbcType=VARCHAR}
				</if>
				<if test="createUser != null and createUser != ''">
					and create_user = #{createUser,jdbcType=BIGINT}
				</if>
				<if test="createName != null">
					and create_name = #{createName,jdbcType=VARCHAR}
				</if>
				<if test="updateUser != null and updateUser != ''">
					and update_user = #{updateUser,jdbcType=BIGINT}
				</if>
				<if test="updateName != null">
					and update_name = #{updateName,jdbcType=VARCHAR}
				</if>
			</trim>
		</where>
	</sql>
	<sql id="Example_Set_Clause">
		<set>
			<trim suffixOverrides=",">
				<if test="refAuditTaskId != null">
					ref_audit_task_id = #{refAuditTaskId,jdbcType=BIGINT},
				</if>
				<if test="taskType != null">
					task_type = #{taskType,jdbcType=VARCHAR},
				</if>
				<if test="taskName != null">
					task_name = #{taskName,jdbcType=VARCHAR},
				</if>
				<if test="step != null">
					step = #{step,jdbcType=INTEGER},
				</if>
				<if test="auditUserType != null">
					audit_user_type = #{auditUserType,jdbcType=VARCHAR},
				</if>
				<if test="auditObjectType != null">
					audit_object_type = #{auditObjectType,jdbcType=VARCHAR},
				</if>
				<if test="auditObjectId != null">
					audit_object_id = #{auditObjectId,jdbcType=BIGINT},
				</if>
				<if test="status != null">
					status = #{status,jdbcType=VARCHAR},
				</if>
				<if test="createUser != null">
					create_user = #{createUser,jdbcType=BIGINT},
				</if>
				<if test="createName != null">
					create_name = #{createName,jdbcType=VARCHAR},
				</if>
				<if test="updateUser != null">
					update_user = #{updateUser,jdbcType=BIGINT},
				</if>
				<if test="updateName != null">
					update_name = #{updateName,jdbcType=VARCHAR},
				</if>
				UPDATE_TIME = NOW(),
			</trim>
		</set>
	</sql>
	<sql id="Base_Column_List">
		id,
		ref_audit_task_id,
		task_type,
		task_name,
		step,
		audit_user_type,
		audit_object_type,
		audit_object_id,
		status,
		create_user,
		create_name,
		create_time,
		update_user,
		update_name,
		update_time
	</sql>
	<sql id="Base_Set_Clause">
		<set>
			<trim suffixOverrides=",">
				ref_audit_task_id = #{refAuditTaskId,jdbcType=BIGINT},
				task_type = #{taskType,jdbcType=VARCHAR},
				task_name = #{taskName,jdbcType=VARCHAR},
				step = #{step,jdbcType=INTEGER},
				audit_user_type = #{auditUserType,jdbcType=VARCHAR},
				audit_object_type = #{auditObjectType,jdbcType=VARCHAR},
				audit_object_id = #{auditObjectId,jdbcType=BIGINT},
				status = #{status,jdbcType=VARCHAR},
				create_user = #{createUser,jdbcType=BIGINT},
				create_name = #{createName,jdbcType=VARCHAR},
				update_user = #{updateUser,jdbcType=BIGINT},
				update_name = #{updateName,jdbcType=VARCHAR},
			</trim>
		</set>
	</sql>
	<sql id="Selective_Column_List">
		ID,
		<if test="refAuditTaskId != null">
			ref_audit_task_id,
		</if>
		<if test="taskType != null">
			task_type,
		</if>
		<if test="taskName != null">
			task_name,
		</if>
		<if test="step != null">
			step,
		</if>
		<if test="auditUserType != null">
			audit_user_type,
		</if>
		<if test="auditObjectType != null">
			audit_object_type,
		</if>
		<if test="auditObjectId != null">
			audit_object_id,
		</if>
		<if test="status != null">
			status,
		</if>
		<if test="createUser != null">
			create_user,
		</if>
		<if test="createName != null">
			create_name,
		</if>
		CREATE_TIME,
		<if test="updateUser != null">
			update_user,
		</if>
		<if test="updateName != null">
			update_name,
		</if>
	</sql>
	<sql id="Base_Value_List">
		#{id,jdbcType=BIGINT},
		#{refAuditTaskId,jdbcType=BIGINT},
		#{taskType,jdbcType=VARCHAR},
		#{taskName,jdbcType=VARCHAR},
		#{step,jdbcType=INTEGER},
		#{auditUserType,jdbcType=VARCHAR},
		#{auditObjectType,jdbcType=VARCHAR},
		#{auditObjectId,jdbcType=BIGINT},
		#{status,jdbcType=VARCHAR},
		#{createUser,jdbcType=BIGINT},
		#{createName,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP},
		#{updateUser,jdbcType=BIGINT},
		#{updateName,jdbcType=VARCHAR},
		#{updateTime,jdbcType=TIMESTAMP},
	</sql>
	<sql id="Selective_Value_List">
		#{id},
		<if test="refAuditTaskId != null">
			#{refAuditTaskId,jdbcType=BIGINT},
		</if>
		<if test="taskType != null">
			#{taskType,jdbcType=VARCHAR},
		</if>
		<if test="taskName != null">
			#{taskName,jdbcType=VARCHAR},
		</if>
		<if test="step != null">
			#{step,jdbcType=INTEGER},
		</if>
		<if test="auditUserType != null">
			#{auditUserType,jdbcType=VARCHAR},
		</if>
		<if test="auditObjectType != null">
			#{auditObjectType,jdbcType=VARCHAR},
		</if>
		<if test="auditObjectId != null">
			#{auditObjectId,jdbcType=BIGINT},
		</if>
		<if test="status != null">
			#{status,jdbcType=VARCHAR},
		</if>
		<if test="createUser != null">
			#{createUser,jdbcType=BIGINT},
		</if>
		<if test="createName != null">
			#{createName,jdbcType=VARCHAR},
		</if>
		NOW(),
		<if test="updateUser != null">
			#{updateUser,jdbcType=BIGINT},
		</if>
		<if test="updateName != null">
			#{updateName,jdbcType=VARCHAR},
		</if>
	</sql>

	<select id="selectByExample" parameterType="FlowAuditUserDetailQuery" resultMap="BaseResultMap">
		select
		<trim suffixOverrides=",">
			<include refid="Base_Column_List" />
		</trim>
		from flow_audit_user_detail
		<include refid="Example_Where_Clause" />
		<!-- order by CREATE_DATE -->
	</select>
	<select id="selectByPrimaryKey" parameterType="Long" resultMap="BaseResultMap">
		select
		<trim suffixOverrides=",">
			<include refid="Base_Column_List" />
		</trim>
		from flow_audit_user_detail
		where ID = #{id,jdbcType=SMALLINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="Long">
		delete from flow_audit_user_detail
		where ID = #{id,jdbcType=SMALLINT}
	</delete>
	<delete id="deleteByExample" parameterType="FlowAuditUserDetailQuery">
		delete from flow_audit_user_detail
		<include refid="Example_Where_Clause" />
	</delete>
	<insert id="insert" parameterType="FlowAuditUserDetail">
		insert into flow_audit_user_detail
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<include refid="Base_Column_List" />
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<include refid="Base_Value_List" />
		</trim>
	</insert>
	<insert id="insertSelective" parameterType="FlowAuditUserDetail" useGeneratedKeys="true" keyProperty="id">
		insert into flow_audit_user_detail
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<include refid="Selective_Column_List" />
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<include refid="Selective_Value_List" />
		</trim>
	</insert>
	<select id="countByExample" parameterType="FlowAuditUserDetailQuery" resultType="java.lang.Integer">
		select count(*) from flow_audit_user_detail
		<include refid="Example_Where_Clause" />
	</select>
	<update id="updateByPrimaryKeySelective" parameterType="FlowAuditUserDetail">
		update flow_audit_user_detail
		<include refid="Example_Set_Clause" />
		where ID = #{id,jdbcType=SMALLINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="FlowAuditUserDetail">
		update flow_audit_user_detail
		<include refid="Base_Set_Clause" />
		where ID = #{id,jdbcType=SMALLINT}
	</update>

	<select id="selectPageByExample" parameterType="FlowAuditUserDetailQuery" resultMap="BaseResultMap">
		select
		<trim suffixOverrides=",">
			<include refid="Base_Column_List" />
		</trim>
		from flow_audit_user_detail
		<include refid="Example_Where_Clause" />
        <![CDATA[ limit #{startRow},#{endRow} ]]>
  		<!-- order by CREATE_DATE -->
	</select>
</mapper>