<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
				http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd" 
				>

<!-- 配置被代理的对象 -->
<bean id="test1Service" class="com.hsp.aop.Test1Service">
<property name="name" value="顺平" />
</bean>
<!-- 配置前置通知 

	proxyFactoryBean implements TestServiceInter,TestServiceInter2{
		public void sayHello();
	}
	
	思考
	interface Inter1{};
	class A implements Inter1,Inter2{
	}
	Inter1 a=new A();
	Inter2 b=(Inter2)a;
-->
<bean id="MyMethodBeforeAdvice" class="com.hsp.aop.MyMethodBeforeAdvice" /> 
<!-- 配置后置通知 -->
<bean id="MyAfterRunReturningAfterAdvice" class="com.hsp.aop.MyAfterRunReturningAfterAdvice" ></bean>

<!-- 配置环绕通知 -->
<bean id="MyAroundAdvice" class="com.hsp.aop.MyAroundAdvice"></bean>

<!-- 异常通知 MyThowAdvoce -->
<bean id="MyThowAdvoce" class="com.hsp.aop.MyThowAdvoce"></bean>




<!-- 定义前置通知的切入点 -->








<!-- 配置代理对象 --> 
<bean id="proxyFactoryBean" class="org.springframework.aop.framework.ProxyFactoryBean">
	<!-- 代理接口集 --> 
	<property name="proxyInterfaces">
		<list>  
			<value>com.hsp.aop.TestServiceInter</value>
			<value>com.hsp.aop.TestServiceInter2</value>
		</list>
	</property> 
	<!-- 把通知 织入到代理对象  --> 
	<property name="interceptorNames">
		<!-- 相当于包MyMethodBeforeAdvice 前置通知和代理对象关联,我们也
		可以把通知看出拦截器, struts2核心拦截器 -->
			<list>  
		<value>MyMethodBeforeAdvice</value>
		<!-- 后置通知 -->
		<value>MyAfterRunReturningAfterAdvice</value>
		
		<!-- 环绕 通知 -->		
			<value>MyAroundAdvice</value>
		
		<!-- 异常通知-->			
			<value>MyThowAdvoce</value>
		
			</list>	
	</property>  
	<!-- 配置被代理对象,可以指定 --> 
	<property name="target" ref="test1Service"/>
</bean>
</beans>