<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hlj.dao.mybatis.check.QuartzDbProcessCheckMapper">

    <select id="findJobList" resultType="com.hlj.data.res.check.QuartzCheckData">
        SELECT
          A1.`SCHED_NAME` AS `SCHEDNAME`,
          A1.`TRIGGER_NAME` AS `TRIGGERNAME`,
          A1.`TRIGGER_GROUP` AS `TRIGGERGROUP`,
          A1.`JOB_NAME` AS `JOBNAME`,
          A1.`JOB_GROUP` AS `JOBGROUP`,
          A1.`DESCRIPTION` AS `DESCRIPTION`,
          A1.`NEXT_FIRE_TIME` AS `NEXTFIRETIME`,
          A1.`PREV_FIRE_TIME` AS `PREVFIRETIME`,
          A1.`START_TIME` AS `STARTTIME`,
          A1.`END_TIME` AS `ENDTIME`
        FROM `qrtz_triggers` A1
        <![CDATA[
        WHERE A1.TRIGGER_STATE != 'PAUSED'
          AND A1.`NEXT_FIRE_TIME` <= #{next_fire_time}
        ]]>
    </select>

    <select id="findJobDetailData" resultType="com.hlj.data.res.check.JobDetailData">
        SELECT
          A1.`SCHED_NAME` AS `SCHEDNAME`,
          A1.`JOB_NAME` AS `JOBNAME`,
          A1.`JOB_GROUP` AS `JOBGROUP`,
          A1.`DESCRIPTION` AS `DESCRIPTION`,
          A1.`JOB_CLASS_NAME` AS `JOBCLASSNAME`
        FROM `qrtz_job_details`  A1
        WHERE A1.`JOB_NAME` = #{job_name}
        LIMIT 0, 1
    </select>


</mapper>