<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
 
<appender name="STDOUT_LOG" class="org.apache.log4j.ConsoleAppender"> 
	<layout class="org.apache.log4j.PatternLayout"> 
		<param name="ConversionPattern" value="%d{ISO8601} %c -- %p -- %m%n"/> 
	</layout>
	<filter class="org.apache.log4j.varia.LevelRangeFilter"> 
		<param name="LevelMin" value="INFO" /> 
		<param name="LevelMax" value="OFF" />
		<param name="AcceptOnMatch" value="true" />		 
	</filter> 		 
</appender>

<appender name="DEBUG_LOG" class="org.apache.log4j.DailyRollingFileAppender"> 
	<!-- C:/log/debug.log windows -->
	<param name="File" value="/tmp/contentcontainer/dtcp/log/debug.log"/> 
	<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />     
	<layout class="org.apache.log4j.PatternLayout"> 
		<param name="ConversionPattern" value="%d{ISO8601} %c -- %p -- %m%n"/> 
	</layout> 
	<filter class="org.apache.log4j.varia.LevelRangeFilter"> 
		<param name="LevelMin" value="DEBUG" /> 
		<param name="LevelMax" value="DEBUG" /> 
		<param name="AcceptOnMatch" value="true" />			
	</filter> 
</appender>

<appender name="INFO_LOG" class="org.apache.log4j.DailyRollingFileAppender"><!-- 
	C:/log/info.log
	--><param name="File" value="/tmp/contentcontainer/dtcp/log/info.log"/> 
<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />     
	<layout class="org.apache.log4j.PatternLayout"> 
		<param name="ConversionPattern" value="%d{ISO8601} %c -- %p -- %m%n"/> 
	</layout> 
	<filter class="org.apache.log4j.varia.LevelRangeFilter"> 
		<param name="LevelMin" value="INFO" /> 
		<param name="LevelMax" value="INFO" />
		<param name="AcceptOnMatch" value="true" />	
	</filter> 
</appender>

<appender name="WARN_LOG" class="org.apache.log4j.DailyRollingFileAppender"> 
	<param name="File" value="/tmp/contentcontainer/dtcp/log/warning.log"/> 
	<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />     
<!--  	<param name="Append" value="true"/> 
	<param name="MaxFileSize" value="500KB"/> 
	<param name="MaxBackupIndex" value="2"/>   -->
	<layout class="org.apache.log4j.PatternLayout"> 
		<param name="ConversionPattern" value="%d{ISO8601} %c -- %p -- %m%n"/> 
	</layout> 
	<filter class="org.apache.log4j.varia.LevelRangeFilter"> 
		<param name="LevelMin" value="WARN" /> 
		<param name="LevelMax" value="WARN" /> 
		<param name="AcceptOnMatch" value="true" />		
	</filter> 
</appender>

<appender name="ERROR_LOG" class="org.apache.log4j.DailyRollingFileAppender"> 
	<param name="File" value="log/error.log"/> 
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />   
	<layout class="org.apache.log4j.PatternLayout"> 
		<param name="ConversionPattern" value="%d{ISO8601} %c -- %p -- %m%n"/> 
	</layout> 
	<filter class="org.apache.log4j.varia.LevelRangeFilter"> 
		<param name="LevelMin" value="ERROR" /> 
		<param name="LevelMax" value="ERROR" /> 
		<param name="AcceptOnMatch" value="true" />	
	</filter> 
</appender>

<logger name="com.ibatis.sqlmap.engine.impl.SqlMapClientDelegate" additivity="true">
  <level value="DEBUG" />
  <appender-ref ref="DEBUG_LOG" /> 
</logger>

<logger name="java.sql.Connection" additivity="true">
  <level value="DEBUG" />
  <appender-ref ref="DEBUG_LOG" />   
</logger>
 
<logger name="java.sql.Statement" additivity="true">
  <level value="DEBUG" />
  <appender-ref ref="DEBUG_LOG" />   
</logger>

<logger name="java.sql.PreparedStatement" additivity="true">
  <level value="DEBUG" />
  <appender-ref ref="DEBUG_LOG" />
</logger>

<logger name="java.sql.ResultSet" additivity="true">
  <level value="DEBUG" />
  <appender-ref ref="DEBUG_LOG" /> 
</logger>


<logger name="org.apache" additivity="true">
  <level value="WARN" />
  <appender-ref ref="DEBUG_LOG" />
  <appender-ref ref="INFO_LOG" />
</logger>

<logger name="org.springframework" additivity="true">
  <level value="WARN" />
  <appender-ref ref="DEBUG_LOG" />
  <appender-ref ref="INFO_LOG" />   
</logger>

<logger name="com.amwmyd" additivity="true">
  <level value="WARN" />
  <appender-ref ref="DEBUG_LOG" />
  <appender-ref ref="INFO_LOG" />  
</logger>

<logger name="net.sf.ehcache" additivity="true">
  <level value="WARN" />
  <appender-ref ref="DEBUG_LOG" />
  <appender-ref ref="INFO_LOG" /> 
</logger>

<logger name="org.hibernate" additivity="true">
  <level value="WARN" />
  <appender-ref ref="DEBUG_LOG" />
  <appender-ref ref="INFO_LOG" /> 
</logger>

<logger name="org.jbpm" additivity="true">
  <level value="WARN" />
  <appender-ref ref="DEBUG_LOG" />
  <appender-ref ref="INFO_LOG" /> 
</logger>


<root> 
	<priority value="DEBUG"/> 
	<appender-ref ref="STDOUT_LOG"/> 
	<appender-ref ref="DEBUG_LOG"/> 
	<appender-ref ref="INFO_LOG"/> 
	<appender-ref ref="WARN_LOG"/> 
	<appender-ref ref="ERROR_LOG"/> 
</root>

</log4j:configuration>
