<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		version="2.4" 
		xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
<!-- 下面这个就是配置Struts-config-xml
 --><servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/config/struts-config.xml</param-value>
    </init-param> 
      
</servlet> 
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    	<!-- do就是总司令 -->
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  
<filter>
	<filter-name>MyFilter</filter-name>
	<filter-class>com.hlj.filters.MyFilter</filter-class>
</filter>
<filter-mapping>
		<filter-name>MyFilter</filter-name>
		<url-pattern>/*</url-pattern>

</filter-mapping>        

 
  
  
 <welcome-file-list>
 	<welcome-file>index.jsp</welcome-file>
 </welcome-file-list>
</web-app>