@import 'https://admore-cas.oss-cn-hangzhou.aliyuncs.com/assets/css/css_font.css?family=PT+Mono';


#authnEvents {
   
}
#authnEvents .tabsContainer {
    padding: 0 20px;
}
#authnEvents .btn .caret {
    margin-left: 5px;
}
.tab-pane {
    padding: 20px 10px;
    border: 1px solid #ddd;
    border-top: none;
}

#container {
    width:100%;
}
