<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TeventMapper">
	<resultMap id="BaseResultMap" type="Tevent">
		<id column="ID" jdbcType="BIGINT" property="id" />
		<result column="type" jdbcType="VARCHAR" property="type" />
		<result column="process" jdbcType="VARCHAR" property="process" />
		<result column="content" jdbcType="VARCHAR" property="content" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<trim prefix="(" prefixOverrides="and" suffix=")">
				<if test="type != null">
					and type = #{type,jdbcType=VARCHAR}
				</if>
				<if test="process != null">
					and process = #{process,jdbcType=VARCHAR}
				</if>
				<if test="content != null">
					and content = #{content,jdbcType=VARCHAR}
				</if>
			</trim>
		</where>
	</sql>
	<sql id="Example_Set_Clause">
		<set>
			<trim suffixOverrides=",">
				<if test="type != null">
					type = #{type,jdbcType=VARCHAR},
				</if>
				<if test="process != null">
					process = #{process,jdbcType=VARCHAR},
				</if>
				<if test="content != null">
					content = #{content,jdbcType=VARCHAR},
				</if>
				UPDATE_TIME = NOW(),
			</trim>
		</set>
	</sql>
	<sql id="Base_Column_List">
		id,
		type,
		process,
		content,
		create_time,
		update_time
	</sql>
	<sql id="Base_Set_Clause">
		<set>
			<trim suffixOverrides=",">
				type = #{type,jdbcType=VARCHAR},
				process = #{process,jdbcType=VARCHAR},
				content = #{content,jdbcType=VARCHAR},
			</trim>
		</set>
	</sql>
	<sql id="Selective_Column_List">
		ID,
		<if test="type != null">
			type,
		</if>
		<if test="process != null">
			process,
		</if>
		<if test="content != null">
			content,
		</if>
		CREATE_TIME,
	</sql>
	<sql id="Base_Value_List">
		#{id,jdbcType=BIGINT},
		#{type,jdbcType=VARCHAR},
		#{process,jdbcType=VARCHAR},
		#{content,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP},
		#{updateTime,jdbcType=TIMESTAMP},
	</sql>
	<sql id="Selective_Value_List">
		#{id},
		<if test="type != null">
			#{type,jdbcType=VARCHAR},
		</if>
		<if test="process != null">
			#{process,jdbcType=VARCHAR},
		</if>
		<if test="content != null">
			#{content,jdbcType=VARCHAR},
		</if>
		NOW(),
	</sql>

	<select id="selectByExample" parameterType="TeventQuery" resultMap="BaseResultMap">
		select
		<trim suffixOverrides=",">
			<include refid="Base_Column_List" />
		</trim>
		from t_event
		<include refid="Example_Where_Clause" />
		<!-- order by CREATE_DATE -->
	</select>
	<select id="selectByPrimaryKey" parameterType="Long" resultMap="BaseResultMap">
		select
		<trim suffixOverrides=",">
			<include refid="Base_Column_List" />
		</trim>
		from t_event
		where ID = #{id,jdbcType=SMALLINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="Long">
		delete from t_event
		where ID = #{id,jdbcType=SMALLINT}
	</delete>
	<delete id="deleteByExample" parameterType="TeventQuery">
		delete from t_event
		<include refid="Example_Where_Clause" />
	</delete>
	<insert id="insert" parameterType="Tevent">
		insert into t_event
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<include refid="Base_Column_List" />
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<include refid="Base_Value_List" />
		</trim>
	</insert>
	<insert id="insertSelective" parameterType="Tevent" useGeneratedKeys="true" keyProperty="id">
		insert into t_event
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<include refid="Selective_Column_List" />
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<include refid="Selective_Value_List" />
		</trim>
	</insert>
	<select id="countByExample" parameterType="TeventQuery" resultType="java.lang.Integer">
		select count(*) from t_event
		<include refid="Example_Where_Clause" />
	</select>
	<update id="updateByPrimaryKeySelective" parameterType="Tevent">
		update t_event
		<include refid="Example_Set_Clause" />
		where ID = #{id,jdbcType=SMALLINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="Tevent">
		update t_event
		<include refid="Base_Set_Clause" />
		where ID = #{id,jdbcType=SMALLINT}
	</update>

	<select id="selectPageByExample" parameterType="TeventQuery" resultMap="BaseResultMap">
		select
		<trim suffixOverrides=",">
			<include refid="Base_Column_List" />
		</trim>
		from t_event
		<include refid="Example_Where_Clause" />
        <![CDATA[ limit #{startRow},#{endRow} ]]>
  		<!-- order by CREATE_DATE -->
	</select>
</mapper>