<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ScfSysRoleMapper">
	<resultMap id="BaseResultMap" type="ScfSysRole">
		<id column="ID" jdbcType="BIGINT" property="id" />
		<result column="role_name" jdbcType="VARCHAR" property="roleName" />
		<result column="ref_system_code" jdbcType="VARCHAR" property="refSystemCode" />
		<result column="status" jdbcType="VARCHAR" property="status" />
		<result column="desc" jdbcType="VARCHAR" property="desc" />
		<result column="create_user" jdbcType="BIGINT" property="createUser" />
		<result column="create_name" jdbcType="VARCHAR" property="createName" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_user" jdbcType="BIGINT" property="updateUser" />
		<result column="update_name" jdbcType="VARCHAR" property="updateName" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<trim prefix="(" prefixOverrides="and" suffix=")">
				<if test="roleName != null">
					and role_name = #{roleName,jdbcType=VARCHAR}
				</if>
				<if test="refSystemCode != null">
					and ref_system_code = #{refSystemCode,jdbcType=VARCHAR}
				</if>
				<if test="status != null">
					and status = #{status,jdbcType=VARCHAR}
				</if>
				<if test="desc != null">
					and `desc` = #{desc,jdbcType=VARCHAR}
				</if>
				<if test="createUser != null and createUser != ''">
					and create_user = #{createUser,jdbcType=BIGINT}
				</if>
				<if test="createName != null">
					and create_name = #{createName,jdbcType=VARCHAR}
				</if>
				<if test="updateUser != null and updateUser != ''">
					and update_user = #{updateUser,jdbcType=BIGINT}
				</if>
				<if test="updateName != null">
					and update_name = #{updateName,jdbcType=VARCHAR}
				</if>
			</trim>
		</where>
	</sql>
	<sql id="Example_Set_Clause">
		<set>
			<trim suffixOverrides=",">
				<if test="roleName != null">
					role_name = #{roleName,jdbcType=VARCHAR},
				</if>
				<if test="refSystemCode != null">
					ref_system_code = #{refSystemCode,jdbcType=VARCHAR},
				</if>
				<if test="status != null">
					status = #{status,jdbcType=VARCHAR},
				</if>
				<if test="desc != null">
					`desc` = #{desc,jdbcType=VARCHAR},
				</if>
				<if test="createUser != null">
					create_user = #{createUser,jdbcType=BIGINT},
				</if>
				<if test="createName != null">
					create_name = #{createName,jdbcType=VARCHAR},
				</if>
				<if test="updateUser != null">
					update_user = #{updateUser,jdbcType=BIGINT},
				</if>
				<if test="updateName != null">
					update_name = #{updateName,jdbcType=VARCHAR},
				</if>
				UPDATE_TIME = NOW(),
			</trim>
		</set>
	</sql>
	<sql id="Base_Column_List">
		id,
		role_name,
		ref_system_code,
		status,
		`desc`,
		create_user,
		create_name,
		create_time,
		update_user,
		update_name,
		update_time
	</sql>
	<sql id="Base_Set_Clause">
		<set>
			<trim suffixOverrides=",">
				role_name = #{roleName,jdbcType=VARCHAR},
				ref_system_code = #{refSystemCode,jdbcType=VARCHAR},
				status = #{status,jdbcType=VARCHAR},
				`desc` = #{desc,jdbcType=VARCHAR},
				create_user = #{createUser,jdbcType=BIGINT},
				create_name = #{createName,jdbcType=VARCHAR},
				update_user = #{updateUser,jdbcType=BIGINT},
				update_name = #{updateName,jdbcType=VARCHAR},
			</trim>
		</set>
	</sql>
	<sql id="Selective_Column_List">
		ID,
		<if test="roleName != null">
			role_name,
		</if>
		<if test="refSystemCode != null">
			ref_system_code,
		</if>
		<if test="status != null">
			status,
		</if>
		<if test="desc != null">
			`desc`,
		</if>
		<if test="createUser != null">
			create_user,
		</if>
		<if test="createName != null">
			create_name,
		</if>
		CREATE_TIME,
		<if test="updateUser != null">
			update_user,
		</if>
		<if test="updateName != null">
			update_name,
		</if>
	</sql>
	<sql id="Base_Value_List">
		#{id,jdbcType=BIGINT},
		#{roleName,jdbcType=VARCHAR},
		#{refSystemCode,jdbcType=VARCHAR},
		#{status,jdbcType=VARCHAR},
		#{desc,jdbcType=VARCHAR},
		#{createUser,jdbcType=BIGINT},
		#{createName,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP},
		#{updateUser,jdbcType=BIGINT},
		#{updateName,jdbcType=VARCHAR},
		#{updateTime,jdbcType=TIMESTAMP},
	</sql>
	<sql id="Selective_Value_List">
		#{id},
		<if test="roleName != null">
			#{roleName,jdbcType=VARCHAR},
		</if>
		<if test="refSystemCode != null">
			#{refSystemCode,jdbcType=VARCHAR},
		</if>
		<if test="status != null">
			#{status,jdbcType=VARCHAR},
		</if>
		<if test="desc != null">
			#{desc,jdbcType=VARCHAR},
		</if>
		<if test="createUser != null">
			#{createUser,jdbcType=BIGINT},
		</if>
		<if test="createName != null">
			#{createName,jdbcType=VARCHAR},
		</if>
		NOW(),
		<if test="updateUser != null">
			#{updateUser,jdbcType=BIGINT},
		</if>
		<if test="updateName != null">
			#{updateName,jdbcType=VARCHAR},
		</if>
	</sql>

	<select id="selectByExample" parameterType="ScfSysRoleQuery" resultMap="BaseResultMap">
		select
		<trim suffixOverrides=",">
			<include refid="Base_Column_List" />
		</trim>
		from scf_sys_role
		<include refid="Example_Where_Clause" />
		<!-- order by CREATE_DATE -->
	</select>
	<select id="selectByPrimaryKey" parameterType="Long" resultMap="BaseResultMap">
		select
		<trim suffixOverrides=",">
			<include refid="Base_Column_List" />
		</trim>
		from scf_sys_role
		where ID = #{id,jdbcType=SMALLINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="Long">
		delete from scf_sys_role
		where ID = #{id,jdbcType=SMALLINT}
	</delete>
	<delete id="deleteByExample" parameterType="ScfSysRoleQuery">
		delete from scf_sys_role
		<include refid="Example_Where_Clause" />
	</delete>
	<insert id="insert" parameterType="ScfSysRole">
		insert into scf_sys_role
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<include refid="Base_Column_List" />
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<include refid="Base_Value_List" />
		</trim>
	</insert>
	<insert id="insertSelective" parameterType="ScfSysRole" useGeneratedKeys="true" keyProperty="id">
		insert into scf_sys_role
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<include refid="Selective_Column_List" />
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<include refid="Selective_Value_List" />
		</trim>
	</insert>
	<select id="countByExample" parameterType="ScfSysRoleQuery" resultType="java.lang.Integer">
		select count(*) from scf_sys_role
		<include refid="Example_Where_Clause" />
	</select>
	<update id="updateByPrimaryKeySelective" parameterType="ScfSysRole">
		update scf_sys_role
		<include refid="Example_Set_Clause" />
		where ID = #{id,jdbcType=SMALLINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="ScfSysRole">
		update scf_sys_role
		<include refid="Base_Set_Clause" />
		where ID = #{id,jdbcType=SMALLINT}
	</update>

	<select id="selectPageByExample" parameterType="ScfSysRoleQuery" resultMap="BaseResultMap">
		select
		<trim suffixOverrides=",">
			<include refid="Base_Column_List" />
		</trim>
		from scf_sys_role
		<include refid="Example_Where_Clause" />
        <![CDATA[ limit #{startRow},#{endRow} ]]>
  		<!-- order by CREATE_DATE -->
	</select>

	<sql id="Example_Where_Like_Clause">
		<where>
			<trim prefix="(" prefixOverrides="and" suffix=")">
				<if test="roleName != null and roleName != ''">
					and role_name LIKE CONCAT('%',#{roleName,jdbcType=VARCHAR},'%')
				</if>
				<if test="refSystemCode != null and refSystemCode != ''">
					and ref_system_code = #{refSystemCode,jdbcType=VARCHAR}
				</if>
				<if test="status != null and status != ''">
					and status = #{status,jdbcType=VARCHAR}
				</if>
				<if test="desc != null and desc != ''">
					and `desc` = #{desc,jdbcType=VARCHAR}
				</if>
				<if test="createUser != null and createUser != ''">
					and create_user = #{createUser,jdbcType=BIGINT}
				</if>
				<if test="createName != null and createName != ''">
					and create_name = #{createName,jdbcType=VARCHAR}
				</if>
				<if test="updateUser != null and updateUser != ''">
					and update_user = #{updateUser,jdbcType=BIGINT}
				</if>
				<if test="updateName != null and updateName != ''">
					and update_name = #{updateName,jdbcType=VARCHAR}
				</if>
			</trim>
		</where>
	</sql>

	<select id="countByExampleLike" parameterType="ScfSysRoleQuery" resultType="java.lang.Integer">
		select count(*) from scf_sys_role
		<include refid="Example_Where_Like_Clause" />
	</select>

	<select id="selectPageByExampleLike" parameterType="ScfSysRoleQuery" resultMap="BaseResultMap">
		select
		id,
		role_name,
		ref_system_code,
		status,
		`desc`,
		create_user,
		create_name,
		create_time,
		update_user,
		update_name,
		update_time
		from scf_sys_role
		<include refid="Example_Where_Like_Clause" />
		<![CDATA[ limit #{startRow},#{endRow} ]]>
		<!-- order by CREATE_DATE -->
	</select>

	<select id="selectByExampleLike" parameterType="ScfSysRoleQuery" resultMap="BaseResultMap">
		select
		id,
		role_name,
		ref_system_code,
		status,
		`desc`,
		create_user,
		create_name,
		create_time,
		update_user,
		update_name,
		update_time
		from scf_sys_role
		<include refid="Example_Where_Like_Clause" />
		<!-- order by CREATE_DATE -->
	</select>
</mapper>