<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.mapper.VenderPremiumRateModelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.domain.po.VenderPremiumRateModel">
        <id column="id" property="id" />
        <result column="uuid" property="uuid" />
        <result column="custom_id" property="customId" />
        <result column="custom_type" property="customType" />
        <result column="bus_scene" property="busScene" />
        <result column="insure_id" property="insureId" />
        <result column="risk_rate" property="riskRate" />
        <result column="payout_rate" property="payoutRate" />
        <result column="premium_ratio" property="premiumRatio" />
        <result column="data_status" property="dataStatus" />
        <result column="data_dt" property="dataDt" />
        <result column="created_time" property="createdTime" />
        <result column="modified_time" property="modifiedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, uuid, custom_id, custom_type, bus_scene, insure_id, risk_rate, payout_rate, premium_ratio, data_status, data_dt, created_time, modified_time
    </sql>

</mapper>
