<!--
<footer>
    <div class="footer">
        <div class="container">
            <div class="col-md-4 footer-right" data-wow-delay="0.4s" style="padding-left: 0px;visibility: visible; -webkit-animation-delay: 0.4s;">
                <a href="https://admore.com.cn" class="adFooterLogo"></a>
            </div>
            <div class="col-md-8 footer-left"  style="text-align: right;margin-top: -6px;padding-right: 0px;">
                <ul>
                    &lt;!&ndash;<li><a href="https://adwords.admore.com.cn/partner">合伙伙伴</a></li>&ndash;&gt;
                    <li><a href="https://admore.com.cn/aboutUs">关于我们</a></li>
                    &lt;!&ndash;<li><a href="https://admore.com.cn/download">下载APP</a></li>&ndash;&gt;
                    <li style="border: 1px solid #99A4BC;padding: 6px;border-radius: 18px;margin-right: 0px;"><span class="adFooterWeixin" style=""></span> </li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>

    <div class="copyright">
        <div class="container">
            <div class="copyright-left float-left" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
                <p>Copyright &copy; 2017.多点科技 All rights reserved.&nbsp;ICP证：京12011038号-8</p>
            </div>
            <div class="copyright-right float-right" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
                <p>北京市朝阳区朝阳路85号院5号楼C座
                </p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</footer>
-->
